.wrapper {
    display: flex;
    width: 100%;
    //height: 625px;
    height: 100vh;
}

#img {
    position: fixed;
    top: 0;
    bottom: 0;
}

.signUp-img {
    position: relative;
    height: 100vh;
    width: 50%;
    background-image: url(https://assets.quizlet.com/a/j/dist/app/i/signup/QZ_Auth_Light.f0832112f8d66a6.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    // -webkit-flex: 50%;
    // -ms-flex: 50%;
    flex: 50%;
}

.signUp-label {
    position: absolute;
    font-size: 4rem;
    font-weight: 700;
    color: #3b4c9b;
    left: 40px;
    top: 44px;
}

.signUp-title {
    position: absolute;
    color: #fff;
    font-size: 2.6rem;
    font-weight: 600;
    left: 40px;
    bottom: 10px;
}

.signUp-wrapper {
    flex: 50%;
    padding: 16px;
    //height: 100vh;
    overflow-y: scroll;
    scrollbar-width: thin;
    position: relative;
}

.signUp-iconExit {
    position: absolute;
    right: 16px;
    top: 16px;
    font-size: 2rem;
    cursor: pointer;
    color: #000;
}

.signUp-info {
    //position: relative;
    margin: 28px auto auto;
    padding: 0 32px 64px;
    //display: flex;
    justify-content: left;
    max-width: 600px;
}

.signUp-info__role {
    position: relative;
    display: flex;
    width: 50%;
    margin-bottom: 32px;
    //right: 32px;

    // + .signUp-info__role {
    //     margin-left: 36px;
    // }
    
}

.signUp-info__auth {
    font-weight: 800;
    font-size: 2rem;
    margin-right: 36px;
    color: #939bb4;
    cursor: pointer;
}

.active {
    color: #373b4b;
    border-bottom: 2px solid #ffcd1f;
}
//2 nút log in
.signUp-info__connect {
   // position: ;
    display: flex;
    width: 100%;
    margin-bottom: 16px;
}
.signUp-info__connect-google {
    width: 50%;
    border-radius: 5px;
    border: 1.5px solid #d9dde8;
    //text-align: center;
    margin-right: 2rem;
}
.signUp-info__connect-facebook {
    flex: 1;
    border-radius: 5px;
    border: 2px solid #d9dde8;
    //text-align: center;
    //margin-right: 2rem;
}
.signUp-info__connect-link {
    padding: 10px 22px;
    //text-align: center;
    align-items: center;
    display: block;
}

.signUp-info__connect-wrapper {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.signUp-info__connect-img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.signUp-info__connect-label {
    font-size: 1.6rem;
    font-weight: 600;
    color: #303545;
}
//divider 
.divider {
    display: flex;
    align-items: center;
}

.divider-separator {
    flex-grow: 1;
}

.divider-separatorLine {
    border: none;
    border-bottom: 2px solid #d9dde8;
    height: 0;
    margin-bottom: 0;
    overflow: visible;
}

.divider-label {
    color: #939bb4;
    flex-grow: 0;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1.333333333333333;
    padding: 0 32px;
    text-align: center;
    //text-transform: uppercase;
}

//form info

.signUp-form {
    margin-top: 42px;
}

.form-group {
    display: flex;
    flex-direction: column;
        margin-bottom: 16px;
}

.form-control {
    border: 2px solid #303545;
    height: 44px;
    padding: 8px 12px;
    //border: 1px solid #b3b3b3;
    border-radius: 3px;
    outline: none;
    font-size: 1.4rem;
    //font-weight: 800;
    &:focus {
        border-color: #ffcd1f;
    }
}

.form-label {
    font-weight: 600;
    color: #939bb4;
    margin-bottom: 8px;
}

.form-group.invalid .form-control {
    border-color: #f33a58;
}
  
.form-group.invalid .form-message {
    color: #f33a58;
}

.datetime {
    border: 2px solid #303545;
    width: 100%;
    height: 42px;
    border-radius: 3px;
}

.text {
    background-color: #3b4c9b;
}

.textForm {
    margin-bottom: 12px;
}

.btn-wraper {
    width: 100%;
    text-align: center;
}

.question {
    margin-top: 16px;
}

.question-wrapper {
    padding: 8px 12px;
    border: 2px solid #303545;
    border-radius: 3px;
    text-align: center;
}

.question-text {
    font-size: 1.6rem;
    color: #646f90;
    font-weight: 600;
}

.question-btn {
    background-color: transparent;
    font-size: 1.6rem;
    font-weight: 600;
    margin-left: 4px;
    color: #3ccfcf;
    cursor: pointer;
    &:hover {
        color: rgb(243, 187, 3);
    }
}
.form-message {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 4px 0 0;
    color: #f33a58;
}

.btn-signup {
    width: 100%;
    height: 100%;
    height: 44px;
    color: #fff;
    background-color: #3CCFCF;
    font-weight: 600;
    font-size: 1.6rem;
    border-radius: 3px;
    &:hover {
        cursor: pointer;
        background-color: #23b8b8;
    }
}