.btn-primary.btn-primary {
    background-color: #4255ff;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
}

.btn-primary.btn-primary--login {
    background-color: transparent;
    color: #586380;
    border: none;
    outline: none;
}
.btn-primary.btn-primary--login:hover {
    cursor: pointer;
    background-color: #f6f7fb;
    color:#586380 ;
    /* border: none;
    outline: none; */
}

.btn-primary.btn-primary--signup {
    background-color: #ffcd1f;
    color: var(--text-color);
    border: none;
    margin-right: 16px;
}
.btn-primary.btn-primary--signup:hover {
    cursor: pointer;
    background-color: #ffdc62;
    color:var(--text-color);
}

.btn-signUpForm {
    width: 570px;
    height: 42px;
}