.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    //width: 100vw;
}

.container {
    width: 100%;
    min-height: 1400px;
    display: flex;
    //height: 100vh;
}