.search, .search-result {
    width: 280px;
}

.search {
    position: relative;
    height: var(--search-height);
    padding-left: 16px;
    border-radius: var(--search-border-radius);
    background-color: rgba(22,24,35,0.06);
    display: flex;
    border: 1.5px solid transparent;
    align-items: center;

    input {
        flex: 1;
        //width: 238px;
        height: 100%;
        color: var(--black);
        font-size: 1.4rem;
        //font-weight: 600;
        border: none;
        outline: none;
        background-color: transparent;
        caret-color: var(--primary);
    }
    input:not(:placeholder-shown) ~.search-btn{
        color: rgba(22,24,35,0.75);
    }
    &::after {
        content: "";
        position: absolute;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        width: 1px;
        background-color: rgba(22,24,35,0.12);
        //top: var(--search-top-spacer);
        //bottom: calc(var(--search-top-spacer)/2);
        right: var(--search-button-width); //ddeer bang casi nut nam ben canh cai nut
    }
    &:focus-within {
        border: 1.5px solid rgba(22,24,35,0.2);
    }
}
.clear{
    position: absolute;
    right: calc(var(--search-button-width) + 8px); //ddeer nam ben canh cai nut
    top: 50%;
    transform: translateY(-42%); //ded can giua theo chieu doc
    color: rgba(22,24,35,0.34);
    cursor: pointer;
}
.search-btn {
    width: var(--search-button-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.6rem;
    color: rgba(22,24,35,0.34);

    &:hover {
        background-color: rgba(22,24,35,0.03);
        cursor: pointer;
    }
    &:active {
        background-color: rgba(22,24,35,0.06);
    }
}

.search-title {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 9px;
    color: rgba(22,24,35,0.5);
    padding-bottom: 0;
}